body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-window {
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messages {
    padding: 10px;
    overflow-y: scroll;
    height: 300px;
}

.message {
    margin-bottom: 10px;
}

.message p {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    max-width: 80%;
}

.input-area {
    padding: 10px;
    display: flex;
}

.input-area input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 5px;
}

.input-area button {
    padding: 8px 15px;
    background-color: #8c75d0;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-area button:hover {
    background-color: #8c75d0;
}

.input-area button:active {
    background-color: #8c75d0;
}

.bubble {
    color: #35353b;
    margin-bottom: 5px;
    background: #f1edff;
    font-size: 0.9em;
    padding: 10px 10px 10px 12px;
    border-radius: 10px;
}

.ellipsis {
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 50%;
    background: #b7b7b7;
    animation: bounce 1.3s linear infinite;
}

.one {
    animation-delay: 0.6s;
}
.two {
    animation-delay: 0.5s;
}
.three {
    animation-delay: 0.8s;
}

@keyframes bounce {
    30% { transform: translateY(-2px); }
    60% { transform: translateY(0px); }
    80% { transform: translateY(2px); }
    100% { transform: translateY(0px); opacity: 0.5;  }
}